# Ignore artifacts and build outputs
build/
coverage/
node_modules/
dist/
public/
prisma/
src/routeTree.gen.ts

# Optional: Ignore configs only if you don't want Prettier to touch them
.eslint.config.ts
eslint.config.ts